<% content_for :body do %>
  <ul id="profiles">
    <% @profiles.each do |profile| %>
      <li>
        <%= link_to profile.prefix, refinery.profiles_profile_path(profile) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
