<ul>
  <% if Admin::ProfilesController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_profiles_path
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), new_admin_profile_path,
                 :class => "add_icon" %>
  </li>

</ul>