<div class='affiliation_field'>
    <%= f.select :organization_id, ("<option value='' disabled='disabled'>Organization</option>" + options_from_collection_for_select(ProfileOrganization.all, :id, :name)) %>
</div>
