<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Profile Update</h1>
    <p>Please use the following link to update your profile: <%= @url %></p>
    <p>The link will remain valid for the next 24 hours and expired immediately after your profile is updated. Feel free to reply to this message if you have any questions or need assistance.</p>
  </body>
</html>