<% content_for :body_content_title do -%>
  <%= "#{@profile_category.name} Category" %>
<% end -%>

<% content_for :body_content_left do %>
  <div id="profiles">
		<%= render :partial => 'profiles/profile', :collection => @profile_category.profiles, :locals => { :category => true } %>
	</div><!-- #profiles -->
<% end %>

<%= render 'profiles/sidebar' %>

<%= render :partial => "/shared/content_page" %>

<% content_for :stylesheets, stylesheet_link_tag('refinerycms-profiles') %>